button {
    font-family: "Segoe WPC", "Segoe UI", sans-serif
    Segoe WPC,Segoe UI,sans-serif;
    background-color: rgb(14, 99, 156);
    border: none;
    color: white;
    font-size: 13px;
    max-width: 300px;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 4px;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    line-height: 18.2px;
    outline-offset: -1px;
}
button:hover {
    background-color: rgb(17, 119, 187);
    cursor: pointer;
}
button:focus {
    outline-color: #007fd4;
    outline-width: 1px;
    outline-style: solid;
    opacity: 1 !important;
    outline-offset: 2px !important;

}
input, textarea {
    font-family: "Segoe WPC", "Segoe UI", sans-serif;
    font-weight: normal;
    font-size: 13px;
    font-feature-settings: "liga" 0, "calt" 0;
    line-height: 20px;
    letter-spacing: 0px;
    margin-bottom: 5px;
    width: 50px;
    background-color: rgb(60, 60, 60);
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    color: white;
    outline-color: rgb(0, 127, 212) !important;
}
textarea {
    width: 100%;
}
input {
    height: 20px;
}
.gfxdisInput {
    width: 100%;
}